@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:var(--background);
    color:var(--text);
}

a{
    text-decoration:none;
    color:inherit;
}

button{
    font-family:inherit;
    cursor:pointer;
    border:none;
}

input,
textarea,
select{
    font-family:inherit;
    outline:none;
}

img{
    max-width:100%;
    display:block;
}